#container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding: 16px;
  }
  
  ion-card {
    width: 100%;
    max-width: 500px;
  }
  .button-container {
    display: flex;
    justify-content: space-around;
    margin-top: 10px;
  }