<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Login</ion-title>
    </ion-toolbar>
  </ion-header>

<!-- Animacion-->
   <!-- Componente para la animación de carga -->
   <div *ngIf="isLoading" class="loading-container">
    <div class="loading-spinner"></div>
    <p>Cargando...</p>
  </div>
  <!-- Formulario de login (se oculta durante la carga) -->
  <ion-card *ngIf="!isLoading">
    <ion-card-header>
      <ion-card-title>Iniciar Sesión</ion-card-title>
    </ion-card-header>
<!--Fin Animacion-->
    <ion-list>
      <ion-item>
        <ion-label position="floating">Nombre de Usuario</ion-label>
        <ion-input type="text" [(ngModel)]="username"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Contraseña</ion-label>
        <ion-input type="password" [(ngModel)]="password"></ion-input>
      </ion-item>
    </ion-list>
    <br>
    <div class="checkbox-container">
      <ion-checkbox [(ngModel)]="keepLoggedIn"></ion-checkbox>
      <ion-label>Mantener la sesión iniciada</ion-label>
    </div>
    <ion-button (click)="login()" class="submit-button" color="success" expand="full">INGRESAR</ion-button>

    <div class="button-container">
      <ion-button class="left-button" [routerLink]="['/registro']">Registrarse</ion-button>
    </div>

    <ion-text color="danger" *ngIf="errorMessage">{{ errorMessage }}</ion-text>
    <ion-text color="primary" *ngIf="successMessage">{{ successMessage }}</ion-text>
  </ion-card>
</ion-content>

<!-- FOOTER-->
<ion-footer>
  <ion-toolbar>
    <ion-tabs>
      <ion-tab-bar slot="bottom">
        <ion-tab-button tab="person" [routerLink]="['/home']">
          <ion-icon name="home"></ion-icon>
          Inicio
        </ion-tab-button>
        <ion-tab-button tab="person" [routerLink]="['/vista-cliente']">
          <ion-icon name="pin"></ion-icon>
          Rutas
        </ion-tab-button>
        <ion-tab-button tab="person" [routerLink]="['/vista-conductor']">
          <ion-icon name="car-sport"></ion-icon>
          Conductor
        </ion-tab-button>
        <ion-tab-button tab="car" [routerLink]="['/login']" class="highlight-tab">
          <ion-icon name="person"></ion-icon>
          Iniciar Sesion
        </ion-tab-button>
        <ion-tab-button tab="pin" [routerLink]="['/registro']">
          <ion-icon name="person-add"></ion-icon>
          Registrarse
        </ion-tab-button>
      </ion-tab-bar>
    </ion-tabs>
  </ion-toolbar>
</ion-footer>
