<form (ngSubmit)="addCar()">

  <ion-item>
    <ion-label position="floating">Patente</ion-label>
    <ion-input name="patente"  [(ngModel)]="car.patente" required></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Modelo</ion-label>
    <ion-input name="modelo" [(ngModel)]="car.modelo"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Nombre</ion-label>
    <ion-input name="nombre" [(ngModel)]="car.nombre"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Ruta De La Imgen</ion-label>
    <ion-input name="imageUrl" [(ngModel)]="car.imageUrl"></ion-input>
  </ion-item>


  <br>
  <ion-button type="submit" expand="full" color="success">Guardar</ion-button>
  <ion-button expand="full" color="danger" (click)="logout()">logout</ion-button>
</form>