<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      TeLlevoApp
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">TeLlevoApp</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <ion-card>
      <img alt="Home" src="https://www.indumotoraone.cl/uploads/341c3155a65712255b10f08ec42a9428.jpg" />
      <ion-card-header>
        <ion-card-title>Bienvenido a TeLlevoApp</ion-card-title>
      </ion-card-header>   
    </ion-card>
  </div>

</ion-content>

<!-- FOOTER-->
<ion-footer>
  <ion-toolbar>
    <ion-tabs>
      <ion-tab-bar slot="bottom">
        <ion-tab-button tab="person" [routerLink]="['/login']">
          <ion-icon name="person"></ion-icon>
          Iniciar Sesion
        </ion-tab-button>
        <ion-tab-button tab="car" [routerLink]="['/registro']">
          <ion-icon name="person-add"></ion-icon>
          Registrarse
        </ion-tab-button>
        <ion-tab-button tab="pin" [routerLink]="['/vista-cliente']">
          <ion-icon name="pin"></ion-icon>
          Ruta
        </ion-tab-button>
        <ion-tab-button tab="search" [routerLink]="['/vista-conductor']">
          <ion-icon name="search"></ion-icon>
          Buscar
        </ion-tab-button>
      </ion-tab-bar>
    </ion-tabs>
  </ion-toolbar>
</ion-footer>

