<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Perfil Conductor</ion-title>
    <ion-button slot="end" [routerLink]="['/vista-cliente']">
      <ion-icon slot="start" name="chevron-back-outline"></ion-icon>
      Volver
    </ion-button> 
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Perfil Conductor</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-card>
    <img alt="Silhouette of mountains" src="https://upload.wikimedia.org/wikipedia/commons/8/8a/Retrato_Oficial_Presidente_Pi%C3%B1era_2018.jpg" />
    <ion-card-header>
      <ion-card-title>Nombre Conductor</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      Direccion de destino
    </ion-card-content>
  </ion-card>
  <br><br>

  <div class="container" style="margin-left: 10px; margin-right: 10px">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3607.240064763093!2d51.64102869272839!3d25.296137229021078!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3e45c87fa414e069%3A0x83e8b44697568444!2sBanana%20Island!5e0!3m2!1ses-419!2scl!4v1725466860311!5m2!1ses-419!2scl" width="100%" height="300px" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
  </div>
  <br>
  <div style="text-align: center;">
    <ion-button id="present-alertt">Tomar este Viaje</ion-button>
    <ion-alert
      trigger="present-alertt"
      header="Viaje seleccionado con exito!"
      message="Se le ha informado al conductor que vas a viajar con el"
      [buttons]="alertButtonss"[routerLink]="['/vista-cliente']"
    ></ion-alert>
  </div>
<br><br><br>

<div class="amogus">
  <div class="visor"></div>
  <div class="mochila"></div>
  <div class="pierna izquierda"></div>
  <div class="pierna derecha"></div>
</div>
<br><br>

  

</ion-content>

<!-- FOOTER-->
<ion-footer>
  <ion-toolbar>
    <ion-tabs>
      <ion-tab-bar slot="bottom">
        <ion-tab-button [routerLink]="['/inicio']" class="highlight-tab">
          <ion-icon name="home"></ion-icon>
          Inicio
        </ion-tab-button>
        <ion-tab-button [routerLink]="['/vista-cliente']">
          <ion-icon name="pin"></ion-icon>
          Rutas
        </ion-tab-button>
        <ion-tab-button [routerLink]="['/vista-conductor']">
          <ion-icon name="car-sport"></ion-icon>
          Conductor
        </ion-tab-button>
        <ion-tab-button [routerLink]="['/login']">
          <ion-icon name="person"></ion-icon>
          Sesion
        </ion-tab-button>
      </ion-tab-bar>
    </ion-tabs>
  </ion-toolbar>
</ion-footer>
