<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Registrarse</ion-title>
    <ion-buttons slot="start">
      <ion-back-button routerLink="/login"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Registro</ion-title>
    </ion-toolbar>
  </ion-header>

 <!-- Formulario -->
  <ion-card>

    <ion-card-header>
      <ion-card-title>Registro</ion-card-title>
    </ion-card-header>

    <ion-list>

      <ion-item>
        <ion-input id="usuario"label="Nombre de Usuario" labelPlacement="floating" placeholder="" [(ngModel)]="data.user"></ion-input>
      </ion-item>

      <ion-item>
        <ion-input label="Contraseña" type="password" labelPlacement="floating" placeholder="" [(ngModel)]="data.pw"></ion-input>
      </ion-item>

    </ion-list>
    <ion-button (click)="presentAlert()" [routerLink]="['/home']">INGRESAR</ion-button>
  </ion-card>
</ion-content><!--Fin del principal-->

<!-- FOOTER-->
<ion-footer>
  <ion-toolbar>
    <ion-tabs>
      <ion-tab-bar slot="bottom">
        <ion-tab-button [routerLink]="['/inicio']" class="highlight-tab">
          <ion-icon name="home"></ion-icon>
          Inicio
        </ion-tab-button>
        <ion-tab-button [routerLink]="['/vista-cliente']">
          <ion-icon name="pin"></ion-icon>
          Rutas
        </ion-tab-button>
        <ion-tab-button [routerLink]="['/vista-conductor']">
          <ion-icon name="car-sport"></ion-icon>
          Conductor
        </ion-tab-button>
        <ion-tab-button [routerLink]="['/login']">
          <ion-icon name="person"></ion-icon>
          Sesion
        </ion-tab-button>
      </ion-tab-bar>
    </ion-tabs>
  </ion-toolbar>
</ion-footer>

