.highlight-tab {
    background-color: #ffd700; /* Cambia el color de fondo a un dorado, por ejemplo */
    border-radius: 10px; /* Añade bordes redondeados si lo deseas */
    box-shadow: 0px 0px 10px #ffd700; /* Añade un resplandor alrededor del botón */
  }
  
  .highlight-tab ion-icon {
    color: #ffffff; /* Cambia el color del icono */
  }